<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" href="/css/style.css" />
   </head>

   <body>
      <center>
          <img id="image" srcc ="/images/rdplogo.png" />
          <h4>Mock JSON Database Operations</h4>  
      </center>



   </body>

</html>